.form-group {
  width: 600px;
  margin: 20px;
  height: 100px;
  background-color: #0e103d;
  color: white;
  font-family: "Roboto", sans-serif;
}

.label {
  margin: 20px;
}

.form-control {
  margin: 12px;
  width: 200px;
  height: 30px;
  border-color: white;
}

.btn {
  margin: 30px;
  width: 80px;
  height: 20px;
  position: absolute;
  left: 210px;
  top: 60px;
  color: white;
  background-color: rgb(102, 101, 101);
}
