.body {
  background-color: #0e103d;
  color: rgb(180, 169, 169);
  width: 80vw;
  height: 80vh;
  margin: 20px auto;
  font-family: "Roboto", sans-serif;
  opacity: 0.9;
  font-size: 1.5em;
  padding: 50px;
}
strong {
  font-family: monospace;
  color: rgb(0, 225, 255);
}
