<!-- <div class="body">
  <div class="temp">
    temperature will be <strong>{{ Weather.main.temp }}°C</strong>
    <br />
    that is mean it will be <strong>{{ Weather.weather[0].main }}</strong
    >,
    <br />
    more exact it will be <strong> {{ Weather.weather[0].description }}</strong
    >.
    <br />
    ,you will feel like to be <strong>{{ Weather.main.feels_like }}°C</strong>
    <br />
    so it range between <strong>{{ Weather.main.temp_min }}°C</strong> and
    {{ Weather.main.temp_max }}°C
    <br />
    <br />
    and about pressure , it will be
    <strong>{{ Weather.main.pressure }}PASCAL</strong> also humidity , will be
    <strong>{{ Weather.main.humidity }}g.kg-1</strong>
    <br />
    for Wind speed , it will be {{ Weather.wind.speed }}MPS
  </div>
</div> -->

<div class="body">
  <div class="temp">
    <div class="header">
      <span class="up-arrow">↑</span>
      <div class="max">{{ Weather.main.temp_max }}°C</div>
      <span class="down-arrow">↓</span>
      <div class="min">{{ Weather.main.temp_min }}°C</div>
    </div>
    <div class="line"></div>
    <div class="contain">
      <div class="icon">
        <img
          src="http://openweathermap.org/img/wn/{{
            Weather.weather[0].icon
          }}@2x.png"
          alt=""
          class="left"
        />
        <div class="right">
          {{ Weather.weather[0].main }}
          <br />
          {{ Weather.weather[0].description }}
        </div>
      </div>
      <div class="wind">{{ Weather.wind.speed }} MPS</div>
      <div class="line2"></div>
      <div class="windtext">Windspeed</div>
    </div>

    <button class="btn-back" (click)="goBack()">Back</button>
  </div>
</div>
