.body {
  width: 400px;
  height: 562px;
  margin: 20px auto;
  font-family: "Nunito", sans-serif;
  color: white;
  font-weight: bold;
  background-image: url("../../../assets/images/s56.jpg");
  opacity: 0.9;
}
.header {
  text-align: center;
}
.image {
  position: relative;
  top: -4%;
}
.right {
  float: right;
}

.left,
.right {
  position: relative;
  top: -7%;
}

.other-day {
  margin: 10px;
  font-family: "Nunito", sans-serif;
}

.box-val {
  height: 45px;
  margin: 5px;
  font-size: 12px;
  border: 2px solid white;
  border-radius: 4px;
}
.box-val .image-left {
  position: relative;
  top: -15px;
  width: 80px;
}
.day,
.temp {
  margin: 5px;
  float: right;
}
.pres-img,
.wind-img {
  width: 20px;
  height: 20px;
}

.btn-back {
  float: right;
  width: 70px;
  height: 35px;
  background-color: #eee;
  color: rgb(3, 10, 14);
  font-size: 1em;
  font-weight: bold;
}

.btn-back:hover {
  color: #607d8b;
  background-color: #ddd;
}

.box-val:hover {
  color: #607d8b;
  background-color: #ddd;
  position: relative;
  left: 3px;
}
